<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi quia quas consequatur obcaecati, aliquam aperiam iure eos mollitia reprehenderit at.</p>
    </div>
</section>